
@media (min-width:370px) {
    .footer{
        padding: 30px 10px 5px 10px;

    }
    .ftwo{
        display: flex;
        gap: 20px;
    }
    p{
        font-size: 13px;
        cursor: pointer;
    }
}

@media (min-width:1024px) {
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 30px 10px 5px 10px;
    }
    .ftwo{
        display: flex;
        gap: 20px;
    }
    p{
        font-size: 13px;
        cursor: pointer;
    }
}


@media (min-width:1440px) {
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 30px 10px 5px 10px;
    }
    .ftwo{
        display: flex;
        gap: 20px;
    }
    p{
        font-size: 13px;
        cursor: pointer;
    }
}